<nav>
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['inicio']">Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['informacion']">Informacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['formulario']">Formulario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Disabled</a>
        </li>
      </ul>
</nav>