<form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">RUC</label>
    <input type="text" class="form-control" id="ruc" name="ruc" [(ngModel)]="ruc">
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Valor</label>
    <input type="number" class="form-control" id="valor" name="valor" [(ngModel)]="valor">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">Tipo Gasto</label>
    <select id="gasto" class="form-select" name="gasto" [(ngModel)]="gasto">
      <option selected disabled>Elegir opcion</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>
<div>
  <p>RUC: {{ruc}}</p>
  <p>VALOR: {{valor}}</p>
  <p>TIPO GASTO: {{gasto}}</p>
</div>